{% extends "layout/main.html.twig" %}
{% block title %}Hub{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url() }}/css/hub.css"/>
{% endblock %}

{% block header %}
<nav>
    <div class="nav-wrapper light-green darken-2">
        <a href="#" class="brand-logo center">Ammonix Hub</a>
    </div>
</nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ base_url() }}/images/quotes.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Quotes</span>
                        <p>Deine besten Zitate.</p>
                    </div>
                    <div class="card-action">
                        <a class="green-text" href="https://quotes.ammonix.ch">Besuchen</a>
                    </div>
                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                        <span class="card-title grey-text text-darken-4">Team<i class="material-icons right">close</i></span>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <i class="material-icons circle light-green">perm_identity</i>
                                <span class="title">Joan Künzler</span>
                                <p><a class="grey-text" target="_blank" href="https://github.com/ammonix">Github</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator blue" src="{{ base_url() }}/images/journey.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Journey</span>
                        <p>Deine Geschichte in Bildern.</p>
                    </div>
                    <div class="card-action">
                        <a class="green-text" href="https://journey.ammonix.ch/html/allPictures.html">Besuchen</a>
                    </div>
                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                        <span class="card-title grey-text text-darken-4">Team<i class="material-icons right">close</i></span>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <i class="material-icons circle light-green">perm_identity</i>
                                <span class="title">Tim Pfister</span>
                                <p><a class="grey-text" target="_blank" href="https://github.com/Sphenox">Github</a></p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle light-green">perm_identity</i>
                                <span class="title">Florian Wahl</span>
                                <p><a class="grey-text" target="_blank" href="https://github.com/FlorianWahl">Github</a></p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle light-green">perm_identity</i>
                                <span class="title">Arjuna Sinnathurai</span>
                                <p><a class="grey-text" target="_blank" href="https://github.com/Utschu">Github</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator blue" src="{{ base_url() }}/images/musicmanager.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Music Manager</span>
                        <p>Deine Lieblings-Bands an einem Ort.</p>
                    </div>
                    <div class="card-action">
                        <a class="grey-text" href="#" disabled="disabled">Demnächst</a>
                    </div>
                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                        <span class="card-title grey-text text-darken-4">Team<i class="material-icons right">close</i></span>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <i class="material-icons circle light-green">perm_identity</i>
                                <span class="title">Joan Künzler</span>
                                <p><a class="grey-text" target="_blank" href="https://github.com/ammonix">Github</a></p>
                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle light-green">perm_identity</i>
                                <span class="title">Lukas Heeb</span>
                                <p><a class="grey-text" target="_blank" href="https://github.com/DeHeeeb">Github</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="container">
    <div class="row">
        <div class="col l9 s12">
            <h5 class="white-text">Titel</h5>
            <p class="grey-text text-lighten-4"> Text von Joan Künzler (thx)<br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="white-text" href="#">Link 1</a></li>
                <li><a class="white-text" href="#">Link 2</a></li>
                <li><a class="white-text" href="#">Link 3</a></li>
                <li><a class="white-text" href="#">Link 4</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        Made by <a class="green-text text-lighten-2" href="https://github.com/ammonix">Joan Künzler</a>
        and <a class="green-text text-lighten-2" href="https://github.com/DeHeeeb">Lukas Heeb</a>
    </div>
</div>
{% endblock %}